@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Fira Sans", sans-serif;
  scroll-behavior: smooth;
}

/* 
@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

section {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
} */

:root {
  --primary_teal: #009688;
  --secondary_teal: #008080;
  --primary_green: #4caf50;
  --secondary_green: #66bb6a;
  --color-gradient: linear-gradient(
    to bottom right,
    var(--primary_teal),
    var(--secondary_green)
  );
}

/* navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 4.5%;
  background: transparent;
  transition: 200ms ease-in-out;
  z-index: 100;
}

.sticky-nav {
  background: #fff;
  transition: 200ms ease-in-out;
  box-shadow: 0 1px 1px #f1f1f1;
}

.navbar .nav-left .logo a img {
  width: 140px;
}

.navbar .nav-left {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.color-span {
  background: linear-gradient(
    to bottom right,
    var(--primary_teal),
    var(--secondary_green)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar .nav-left .nav-menu .content {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navbar .nav-left .nav-menu .content .nav-list {
  color: #000;
  font-size: 0.968rem;
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.24rem;
}

.navbar .nav-left .nav-menu .content .btn-started {
  display: none;
}

.navbar .nav-left .nav-menu .content img,
.navbar .nav-left .nav-menu .content i:not(.nav-item .nav-list i) {
  display: none;
}

/* sub menu */
.navbar .nav-left .nav-menu .content .nav-item {
  position: relative;
}

.navbar .nav-left .nav-menu .content .nav-item .submenu {
  display: none;
  position: absolute;
  top: 25px;
  left: 0;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0 1.3px 1.5px rgba(0, 0, 0, 0.18);
  min-width: 230px;
  width: 230px;
  max-width: auto;
  border-radius: 3px;
  z-index: 100;
  transition: all 200ms ease;
}

.navbar .nav-left .nav-menu .content .nav-item .submenu a {
  padding: 0.75rem 1rem;
  font-size: 0.89rem;
  color: #333;
}

.navbar .nav-left .nav-menu .content .nav-item .submenu a:hover {
  background: linear-gradient(
    to bottom right,
    var(--primary_teal),
    var(--secondary_green)
  );
  background-clip: text;
  color: transparent;
}

/* Show submenu */
.navbar .nav-left .nav-menu .content .nav-item .submenu.show {
  display: flex;
}

.navbar .nav-left .nav-menu .content .nav-item .toggle-submenu i {
  font-size: 0.65rem;
  transition: transform 300ms ease;
}

.navbar .nav-left .nav-menu .content .nav-item .toggle-submenu i.rotate-navbar {
  transform: rotate(-180deg);
}

.active-menu {
  background: linear-gradient(
    to bottom right,
    var(--primary_teal),
    var(--secondary_green)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}

.btn-started {
  display: inline-block;
  background: linear-gradient(
    to bottom right,
    var(--primary_teal),
    var(--secondary_green)
  );
  padding: 0.5rem 1rem;
  font-size: 0.968rem;
  border-radius: 5px;
  color: #fff;
}

.navbar .nav-right #hamburger {
  display: none;
}

/* scroll-info */
.scroll-info {
  position: fixed;
  z-index: 101;
  bottom: 4.5%;
  right: 4.5%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 99;
}

.scroll-up {
  width: 40px;
  height: 40px;
  font-size: 1rem;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(220, 220, 220, 0.75);
  backdrop-filter: blur(3px);
  color: #666;
  opacity: 0;
  transition: 150ms ease-out;
}

.sticky-scroll-up {
  opacity: 1;
  transition: 150ms ease-in;
}

.scroll-info .app {
  width: 40px;
  height: 40px;
  font-size: 1.2rem;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-gradient);
}

.scroll-info .app a {
  color: #fff;
}

/* header-menu */
.header-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.header-menu .row-header-menu {
  width: 100%;
  padding: 0.5rem 0 4rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.82),
      rgba(0, 150, 136, 0.7)
    ),
    url(../images/header-menu.jpg);
}

.header-menu .row-header-menu .content {
  padding: 0 4.5%;
}

.header-menu .row-header-menu .content .submenu {
  display: inline-block;
  font-size: 0.8rem;
  background: var(--color-gradient);
  padding: 0.4rem 1rem;
  color: #fff;
  border-radius: 40px;
}

.header-menu .row-header-menu .content h2 {
  margin: 0.5rem 0;
}

.header-menu .row-header-menu .content p {
  line-height: 1.35rem;
  font-size: 0.95rem;
  color: #333;
}

.header-menu .bars {
  width: 100%;
  background: #fff;
  height: 65px;
  display: flex;
  justify-content: end;
}

.header-menu .bars .box {
  background: var(--color-gradient);
  width: 200px;
  height: 100%;
  padding: 2rem;
  max-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-menu .bars .box img {
  width: 95%;
  height: auto;
  filter: saturate(0) brightness(0) invert(1);
}

/* hero section */
.hero {
  position: relative;
  padding: 0 4.5%;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 1s ease-in-out;
  z-index: 0;
  opacity: 1;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.85),
      rgba(255, 255, 255, 0.85),
      rgba(255, 255, 255, 0.8),
      rgba(0, 150, 136, 0.7)
    ),
    url("../images/hero/anyaman-1.webp");
}

.hero .content {
  position: relative;
  max-width: 100%;
  width: 50%;
  z-index: 1;
}

.hero .content .badge {
  color: #fff;
  background: linear-gradient(
    to bottom right,
    var(--primary_teal),
    var(--secondary_green)
  );
  font-size: 0.7rem;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 0.3rem 0.6rem;
  border-radius: 15px;
}

.hero .content h1 {
  margin: 1rem 0 0.5rem;
  font-size: 2.2rem;
}

.hero .content p {
  font-size: 0.95rem;
  color: #666;
  line-height: 1.35rem;
}

.hero .content .btn-hero {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hero .content .comfort {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 1rem 0 1.35rem;
}

.hero .content .comfort .comfort-col {
  padding: 0.7rem;
  background: #fff;
  border-radius: 5px;
}

.hero .content .comfort .comfort-col h3 {
  font-size: 1.1rem;
  transition: all 0.3s ease-in-out;
}

.hero .content .comfort .comfort-col p {
  font-size: 0.8rem;
  color: #666;
}

.btn-primary {
  padding: 0.5rem 0.9rem;
  background: linear-gradient(
    to bottom right,
    var(--primary_teal),
    var(--secondary_green)
  );
  border-radius: 5px;
  border: 2px solid transparent;
  color: #fff;
  font-size: 0.9rem;
}

.btn-primary-outline {
  padding: 0.5rem 0.9rem;
  color: #000;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(
        to bottom right,
        var(--primary_teal),
        var(--secondary_green)
      )
      border-box;
  border-radius: 5px;
  border: 2px solid transparent;
  font-size: 0.9rem;
}

.btn-primary-outline span {
  background: var(--color-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-primary-outline-black {
  padding: 0.5rem 0.9rem;
  color: #000;
  background: transparent;
  border-radius: 5px;
  border: 2px solid #000;
  font-size: 0.9rem;
}

.btn-primary-outline-black:hover {
  background: #000;
  color: #fff;
}

/* partner section */
.partner {
  padding: 5rem 4.5%;
}

.partner .row-partner {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.partner .row-partner .col-partner {
  padding: 0.5rem;
  flex: 1 1 calc((100% - 8rem) / 5);
  max-width: calc((100% - 8rem) / 5);
}

.partner .row-partner .col-partner:hover {
  background: #f5f5f5;
  border-radius: 3px;
}

.partner .row-partner .col-partner img {
  width: 100%;
  height: 55px;
  object-fit: contain;
}

/* about section */
.about {
  padding: 4.8rem 4.5%;
}

.about .row-about {
  display: flex;
  gap: 3rem;
}

.about .row-about .left-about {
  flex: 1 1 50%;
}

.about .row-about .left-about img {
  width: 100%;
  height: auto;
  border-radius: 7px;
}

.about .row-about .right-about {
  flex: 1 1 50%;
}

.about .row-about .right-about .badge {
  display: inline-block;
  font-size: 0.8rem;
  background: var(--color-gradient);
  padding: 0.4rem 1rem;
  color: #fff;
  border-radius: 40px;
}

.about .row-about .right-about h2 {
  font-size: 1.75rem;
  margin: 0.7rem 0;
}

.about .row-about .right-about p {
  text-align: justify;
  color: #666;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  line-height: 1.35rem;
}

.about .row-about .right-about .qoute {
  color: #616161;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  padding: 0.7rem;
  background: #f1f1f1;
  border-radius: 7px;
  margin-top: 0.8rem;
}

.about .row-about .right-about .qoute i {
  font-size: 1.5rem;
}

.about .row-about .right-about .qoute h4 {
  font-size: 1.05rem;
  letter-spacing: 0.2px;
}

/* about section */

.about-anyamnusa {
  padding: 7rem 4.5% 2rem;
}

.about-anyamnusa .row-about {
  display: flex;
  gap: 3rem;
}

.about-anyamnusa .row-about .left-about {
  flex: 1 1 50%;
}

.about-anyamnusa .row-about .left-about img {
  width: 100%;
  height: auto;
  border-radius: 7px;
}

.about-anyamnusa .row-about .right-about {
  flex: 1 1 50%;
}

.about-anyamnusa .row-about .right-about h2 {
  font-size: 1.75rem;
  margin-bottom: 0.7rem;
}

.about-anyamnusa .row-about .right-about p {
  text-align: justify;
  color: #666;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  line-height: 1.35rem;
}

.about-anyamnusa .qoute {
  color: #616161;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  padding: 0.7rem;
  background: #f1f1f1;
  border-radius: 7px;
  margin-top: 0.8rem;
}

.about-anyamnusa .qoute i {
  font-size: 1.5rem;
}

.about-anyamnusa .qoute h4 {
  font-size: 1.05rem;
  letter-spacing: 0.2px;
}

/* services */
.services {
  padding: 4.8rem 4.5% 2.5rem;
}

.services .header {
  width: 100%;
  max-width: 100%;
  margin-bottom: 2rem;
}

.services .header .badge {
  display: inline-block;
  font-size: 0.8rem;
  background: var(--color-gradient);
  padding: 0.4rem 1rem;
  color: #fff;
  border-radius: 40px;
  margin-bottom: 0.5rem;
}

.services .header h2 {
  font-weight: 600;
  margin: 0.3rem 0;
}

.services .header p {
  color: #666;
  font-size: 0.85rem;
  line-height: 1.2rem;
}

.services .row-services {
  display: flex;
  gap: 3rem;
}

.services .row-services .col-left {
  flex: 1 1 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.services .row-services .col-right {
  flex: 1 1 30%;
}

/* product section */
.product {
  padding: 4.8rem 4.5%;
}

.product .header-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product .header-title .count {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.product .header-title #search {
  width: 400px;
  padding: 0.63rem 1rem;
  border: 1.4px solid #d3d3d3;
  border-radius: 6px;
  font-size: 0.9rem;
  outline: none;
}

.product .header-title #search:focus {
  border-color: var(--primary_teal);
}

.product .header-title #search::placeholder {
  color: #aaa;
}

.no-result-product {
  text-align: center;
  display: none;
  padding: 1.5rem 1rem;
  border-radius: 8px;
  margin: 2rem 0 3rem;
  font-size: 1rem;
  background: #f7f7f7;
  letter-spacing: 0.1px;
}

.product .header-title .count h5 {
  padding: 0.5rem;
  background: var(--color-gradient);
  color: #fff;
  border-radius: 4px;
  letter-spacing: 1px;
}

.product .categories {
  margin: 2rem 0 1.5rem;
  display: flex;
}

.product .categories .category {
  overflow-x: scroll;
  overflow-y: hidden;
  flex: 1 1 90%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.product .categories .category::-webkit-scrollbar {
  display: none;
}

.category-list {
  white-space: nowrap;
  font-size: 0.85rem;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  background: #f1f1f1;
  color: #000;
  cursor: pointer;
}

.product .categories .category .category-list:hover:not(.active-category) {
  background: #eaeaea;
}

.category-list.active-category {
  background: var(--color-gradient);
  color: #fff;
}

.product .categories .paginate {
  flex: 1 1 10%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
  background: #fff;
}

.product .categories .paginate .left-paginate {
  width: 33px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1.8px solid #000;
  font-size: 0.85rem;
  cursor: pointer;
}

.product .categories .paginate .left-paginate:hover {
  background: #000;
  color: #ffff;
}

.product .categories .paginate .right-paginate {
  width: 33px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1.8px solid #000;
  font-size: 0.85rem;
  cursor: pointer;
}

.product .categories .paginate .right-paginate:hover {
  background: #000;
  color: #ffff;
}

.product .row-product {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.product .row-product .col-product {
  padding: 0.5rem;
  border: 1px solid #dcdcdc;
  box-shadow: 0 0.5px 0.5px #dcdcdc;
  border-radius: 5px;
}

.product .row-product .col-product:hover {
  border: 1px solid #aaa;
  box-shadow: 0 0.5px 0.5px #aaa;
}

.product .row-product .col-product .d-img {
  width: 100%;
  position: relative;
  height: 160px;
}

.product .row-product .col-product .d-img:hover .overlay {
  transform: scale(1);
  transition: 200ms ease-out;
}

.product .row-product .col-product .d-img .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 128, 128, 0.7);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: 200ms ease-in;
}

.product .row-product .col-product .d-img .overlay a {
  color: #008080;
  background: #fff;
  padding: 0.3rem 0.6rem;
  font-size: 0.75rem;
  border-radius: 4px;
}

.product .row-product .col-product .d-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.product .row-product .col-product .description {
  padding: 0.7rem 0 0.4rem;
}

.product .row-product .col-product .description .d-desc {
  margin-bottom: 0.8rem;
}

.product .row-product .col-product .description .d-desc span {
  display: inline-block;
  color: #008080;
  font-size: 0.7rem;
  border-radius: 2px;
  background: rgba(0, 150, 136, 0.2);
  padding: 0.2rem 0.5rem;
}

.product .row-product .col-product .description .d-desc .title {
  margin: 0.5rem 0 0.25rem;
  font-size: 0.95rem;
  font-weight: 500;
  line-height: 1.2rem;
  color: #000;
  display: block;
}

.product .row-product .col-product .description .d-desc .title:hover {
  background: linear-gradient(
    to bottom right,
    var(--primary_teal),
    var(--secondary_green)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.product .row-product .col-product .description .d-desc p {
  font-size: 0.83rem;
  line-height: 1.2rem;
  color: #666;
  text-align: justify;
}

.product .row-product .col-product .description .d-desc .pay {
  display: flex;
  gap: 0.3rem;
  margin-top: 0.5rem;
  align-items: center;
}

.product .row-product .col-product .description .d-desc .pay .price {
  flex: 1 1 65%;
  font-size: 0.8rem;
  width: 100%;
  color: #666;
}

.product .row-product .col-product .description .d-desc .pay a {
  flex: 1 1 35%;
  font-size: 0.7rem;
  background: var(--color-gradient);
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 0.35rem 0.6rem;
  border-radius: 4px;
  margin: 0;
}

.product .row-product .col-product .description .f-desc {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding-top: 0.8rem;
  border-top: 1.5px solid #f1f1f1;
}

.product .row-product .col-product .description .f-desc .col-f-desc {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-size: 0.75rem;
  background: #f1f1f1;
  color: #666;
  padding: 0.3rem 0.6rem;
  border-radius: 10px;
}

.product .all-product {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.product .all-product a {
  background: var(--color-gradient);
  color: #fff;
  padding: 0.46rem 0.9rem;
  border-radius: 4px;
  font-size: 0.9rem;
  display: flex;
  gap: 0.45rem;
  align-items: center;
}

/* excellence section */
.excellence {
  padding: 4.8rem 4.5%;
}

.excellence .row-excellence {
  display: flex;
  gap: 2rem;
}

.excellence .row-excellence .left-excellence {
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.excellence .row-excellence .left-excellence .detail .badge {
  display: inline-block;
  font-size: 0.8rem;
  background: var(--color-gradient);
  padding: 0.4rem 1rem;
  color: #fff;
  border-radius: 40px;
  margin-bottom: 0.5rem;
}

.excellence .row-excellence .left-excellence .detail h2 {
  line-height: 1.9rem;
  font-size: 1.47rem;
}

.excellence .row-excellence .left-excellence .picture img {
  width: 100%;
}

.excellence .row-excellence .right-excellence {
  flex: 1 1 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.excellence .row-excellence .right-excellence .box-exc {
  border-radius: 5px;
  border: 1px solid #dcdcdc;
  box-shadow: 0 0.5px 0.5px #dcdcdc;
  padding: 1rem;
  display: inline-block;
}

.excellence .row-excellence .right-excellence .box-exc:hover {
  background: #f5f5f5;
}

.excellence .row-excellence .right-excellence .box-exc:hover h5 {
  background: linear-gradient(
    to bottom right,
    var(--primary_teal),
    var(--secondary_green)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.excellence .row-excellence .right-excellence .box-exc .title {
  display: flex;
  gap: 0.5rem;
  font-size: 1.15rem;
  align-items: center;
  margin-bottom: 0.6rem;
}

.excellence .row-excellence .right-excellence .box-exc .title .icon {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-gradient);
  color: #fff;
  font-size: 0.85rem;
  border-radius: 3px;
}

.excellence .row-excellence .right-excellence .box-exc .title h5 {
  font-weight: 500;
}

.excellence .row-excellence .right-excellence .box-exc p {
  font-size: 0.9rem;
  line-height: 1.3rem;
  color: #666;
}

/* testimonials section */
.testimonials {
  padding: 4.8rem 4.5%;
  overflow: hidden;
  mask-image: linear-gradient(20deg, transparent, #fff, #fff, transparent);
}

.testimonials .header {
  width: 50%;
  max-width: 100%;
  text-align: center;
  margin: auto;
}

.testimonials .header .badge {
  display: inline-block;
  font-size: 0.8rem;
  background: var(--color-gradient);
  padding: 0.4rem 1rem;
  color: #fff;
  border-radius: 40px;
  margin-bottom: 0.5rem;
}

.testimonials .header h2 {
  font-weight: 500;
  margin: 0.5rem;
}

.testimonials .header p {
  color: #666;
  font-size: 0.85rem;
  line-height: 1.2rem;
}

.testimonials .row-testimonials {
  position: relative;
  margin-top: 2.5rem;
  display: flex;
  gap: 1.5rem;
  animation: scrollX 60s linear infinite;
  width: max-content;
}

.testimonials .row-testimonials .col-testimonials {
  flex: 0 0 auto;
  width: 380px;
  padding: 1rem;
  border: 1px solid #dcdcdc;
  box-shadow: 0 0.5px 0.5px #dcdcdc;
  border-radius: 5px;
}

@keyframes scrollX {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(calc(-50% - 3rem));
  }
}

.container-testimonials:hover .row-testimonials {
  animation-play-state: paused;
}

.testimonials .row-testimonials .col-testimonials:hover {
  background: #f1f1f1;
}

.testimonials .row-testimonials .col-testimonials .icon {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-gradient);
  color: #fff;
  border-radius: 4px;
  font-size: 0.9rem;
}

.testimonials .row-testimonials .col-testimonials p {
  font-size: 0.87rem;
  line-height: 1.25rem;
  padding: 0.7rem 0;
  color: #666;
}

.testimonials .row-testimonials .col-testimonials .profile {
  display: flex;
  border-top: 1.5px solid #eee;
  padding-top: 1rem;
  gap: 0.5rem;
}

.testimonials .row-testimonials .col-testimonials .profile img {
  width: 40px;
  height: 40px;
  border: 1px solid #dfdfdf;
  box-shadow: 0 0.2px 0.2px #dfdfdf;
  border-radius: 100%;
}

.testimonials .row-testimonials .col-testimonials .profile h5 {
  font-weight: 500;
}

.testimonials .row-testimonials .col-testimonials .profile span {
  color: #666;
  font-size: 0.75rem;
}

/* blogs */
.blogs {
  padding: 4.8rem 4.5%;
}

.blogs .header {
  width: 60%;
  max-width: 100%;
  margin-bottom: 2rem;
}

.blogs .header .badge {
  display: inline-block;
  font-size: 0.8rem;
  background: var(--color-gradient);
  padding: 0.4rem 1rem;
  color: #fff;
  border-radius: 40px;
  margin-bottom: 0.5rem;
}

.blogs .header h2 {
  font-weight: 600;
  margin: 0.3rem 0;
}

.blogs .header p {
  color: #666;
  font-size: 0.85rem;
  line-height: 1.2rem;
}

.blogs .row-blogs {
  display: flex;
  gap: 1.2rem;
  align-items: stretch;
}

.blogs .row-blogs .left-blogs {
  flex: 1 1 55%;
  display: flex;
  flex-direction: column;
}

.blogs .row-blogs .right-blogs {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  height: 100%;
}

.blogs .row-blogs .left-blogs .content-left-blogs,
.blogs .row-blogs .right-blogs .content-right-blogs {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.blogs .row-blogs .right-blogs .content-right-blogs {
  gap: 1.2rem;
}

/* blogs main */
.blogs .row-blogs .box-blog {
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px #d3d3d3;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.blogs .row-blogs .box-blog .image img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.blogs .row-blogs .box-blog .d-blogs {
  width: 100%;
  padding: 0.75rem;
  height: 100%;
  flex: 1;
}

.blogs .row-blogs .box-blog:hover .d-blogs {
  background: rgba(247, 247, 247, 0.8);
}

.blogs .row-blogs .box-blog:hover .d-blogs a {
  background: linear-gradient(
    to bottom right,
    var(--primary_teal),
    var(--secondary_green)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blogs .row-blogs .box-blog .d-blogs .author {
  margin-bottom: 0.8rem;
}

.blogs .row-blogs .box-blog .d-blogs .author h4 {
  display: inline-block;
  color: #008080;
  font-size: 0.75rem;
  border-radius: 2px;
  background: rgba(0, 150, 136, 0.2);
  padding: 0.2rem 0.5rem;
  font-weight: 500;
}

.blogs .row-blogs .box-blog .d-blogs .author h4 .a-con {
  display: flex;
  gap: 0.2rem;
  align-items: center;
}

.blogs .row-blogs .box-blog .d-blogs .author h4 .a-con .dash {
  margin: 0 0.3rem;
}

.blogs .row-blogs .box-blog .d-blogs .author h4 .a-con i {
  font-size: 0.6rem;
}

.blogs .row-blogs .box-blog .d-blogs a {
  color: #000;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.blogs .row-blogs .box-blog .d-blogs p {
  color: #666;
  text-align: justify;
  font-size: 0.85rem;
  margin: 0.5rem 0 0.8rem;
  line-height: 1.32rem;
}

.blogs .row-blogs .box-blog .d-blogs .category {
  width: 100%;
  display: flex;
  gap: 0.6rem;
  flex-wrap: wrap;
}

.blogs .row-blogs .box-blog .d-blogs .category span {
  display: inline-block;
  color: #666;
  font-size: 0.75rem;
  border-radius: 2px;
  background: #eee;
  padding: 0.2rem 0.5rem;
  font-weight: 500;
}

/* blog right */
.blogs .row-blogs .right-blogs .box-blog {
  display: flex;
  flex-direction: row;
}

.blogs .row-blogs .right-blogs .box-blog .image {
  flex: 1 1 45%;
}

.blogs .row-blogs .right-blogs .box-blog .image img {
  border-top-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.blogs .row-blogs .right-blogs .box-blog .d-blogs {
  flex: 1 1 55%;
}

.blogs .row-blogs .right-blogs .box-blog .d-blogs .author {
  margin-bottom: 0.4rem;
}

.blogs .row-blogs .right-blogs .box-blog .d-blogs .author h4 {
  display: inline-block;
  color: #008080;
  font-size: 0.6rem;
  border-radius: 2px;
  background: rgba(0, 150, 136, 0.2);
  padding: 0.2rem 0.5rem;
  font-weight: 500;
}

.blogs .row-blogs .right-blogs .box-blog .d-blogs .author h4 .a-con {
  display: flex;
  gap: 0.2rem;
  align-items: center;
}

.blogs .row-blogs .right-blogs .box-blog .d-blogs .author h4 .a-con .dash {
  margin: 0 0.3rem;
}

.blogs .row-blogs .right-blogs .box-blog .d-blogs .author h4 .a-con i {
  font-size: 0.6rem;
}

.blogs .row-blogs .right-blogs .box-blog .d-blogs a {
  color: #000;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

.blogs .row-blogs .right-blogs .box-blog .d-blogs p {
  color: #666;
  text-align: justify;
  font-size: 0.75rem;
  margin: 0.3rem 0 0.45rem;
  line-height: 1.17rem;
}

.blogs .row-blogs .right-blogs .box-blog .d-blogs .category {
  width: 100%;
  display: flex;
  gap: 0.6rem;
  flex-wrap: wrap;
}

.blogs .row-blogs .right-blogs .box-blog .d-blogs .category span {
  display: inline-block;
  color: #666;
  font-size: 0.63rem;
  border-radius: 2px;
  background: #eee;
  padding: 0.2rem 0.5rem;
  font-weight: 500;
}

.blogs .all-blogs {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 0.3rem;
}

.blogs .all-blogs .btn-alls {
  background: var(--color-gradient);
  color: #fff;
  padding: 0.46rem 0.9rem;
  border-radius: 4px;
  font-size: 0.9rem;
  display: flex;
  gap: 0.45rem;
  align-items: center;
}

/* orders */
.orders {
  padding: 4.8rem 4.5%;
}

.orders .row-orders {
  background: var(--color-gradient);
  color: #ffff;
  padding: 2rem;
  border-radius: 8px;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.orders .row-orders .left-orders {
  flex: 1 1 60%;
}

.orders .row-orders .left-orders p {
  margin: 0.6rem 0;
  font-size: 0.9rem;
  line-height: 1.25rem;
}

.orders .row-orders .left-orders a {
  padding: 0.5rem 0.9rem;
  color: #fff;
  background: transparent;
  border-radius: 5px;
  border: 2px solid #fff;
  font-size: 0.9rem;
  display: inline-block;
  margin-top: 0.2rem;
}

.orders .row-orders .left-orders a:hover {
  background: #fff;
  color: #000;
}

.orders .row-orders .right-orders {
  flex: 1 1 40%;
  width: 100%;
}

.orders .row-orders .right-orders iframe {
  width: 100%;
  height: 280px;
  border: none;
  outline: none;
  border-radius: 8px;
}

.orders .row-orders .right-orders p {
  text-align: center;
  margin-top: 0.6rem;
  font-size: 0.83rem;
  width: 100%;
}

/* faq */
.faq {
  padding: 4.8rem 4.5%;
}

.faq .row-faq {
  display: flex;
  gap: 3rem;
}

.faq .row-faq .left-faq {
  flex: 1 1 70%;
}

.faq .row-faq .left-faq .accordion-row {
  display: flex;
  gap: 0.7rem;
  flex-direction: column;
}

.faq .row-faq .left-faq .accordion-row .accordion-item {
  border: 1.5px solid #dedede;
  width: 100%;
  border-radius: 4px;
  width: 100%;
  padding: 1rem;
  min-height: auto;
}

.faq .row-faq .left-faq .accordion-row .accordion-item[data-expanded="true"] {
  border-color: var(--primary_teal);
  background-color: #fafafa;
}

.faq .row-faq .left-faq .accordion-row .accordion-item:hover {
  background: #fafafa;
}

.faq
  .row-faq
  .left-faq
  .accordion-row
  .accordion-item
  button[aria-expanded="true"] {
  border-bottom: 1.5px solid var(--primary_teal);
}

.faq .row-faq .left-faq .accordion-row button {
  display: flex;
  text-align: left;
  align-items: center;
  width: 100%;
  color: #333;
  font-size: 0.93rem;
  font-weight: 500;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  gap: 0.8rem;
}

.faq .row-faq .left-faq .accordion-row button .accordion-title {
  flex: 1 1 95%;
  line-height: 1.26rem;
}

.faq .row-faq .left-faq .accordion-row button .icon {
  flex: 1 1 5%;
  display: flex;
  justify-content: end;
  align-items: start;
}

.faq .row-faq .left-faq .accordion-row button .icon span {
  font-size: 0.6rem;
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #d3d3d3;
  padding: 0.3rem;
}

.faq .row-faq .left-faq .accordion-row button[aria-expanded="true"] {
  padding-bottom: 0.7rem;
  color: var(--primary_teal);
}

.faq .row-faq .left-faq .accordion-row button[aria-expanded="true"] .icon span {
  border: 1px solid var(--primary_teal);
}

.faq .row-faq .left-faq .accordion-row button[aria-expanded="true"] .icon i {
  transform: rotate(90deg);
}

.faq
  .row-faq
  .left-faq
  .accordion-row
  button[aria-expanded="true"]
  + .accordion-content {
  opacity: 1;
  max-height: 100%;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}

.faq .row-faq .left-faq .accordion-row .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}

.faq .row-faq .left-faq .accordion-row .accordion-content p {
  font-size: 0.88rem;
  text-align: justify;
  font-weight: 400;
  line-height: 1.2rem;
  margin: 0.6rem 0 0.5rem;
  color: #444;
}

.faq .row-faq .right-faq {
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.faq .row-faq .right-faq .detail .badge {
  display: inline-block;
  font-size: 0.8rem;
  background: var(--color-gradient);
  padding: 0.4rem 1rem;
  color: #fff;
  border-radius: 40px;
  margin-bottom: 0.5rem;
}

.faq .row-faq .right-faq .detail h2 {
  line-height: 1.9rem;
  font-size: 1.47rem;
}

.faq .row-faq .right-faq .picture img {
  width: 100%;
}

/* footer */
footer {
  border-top: 1px solid #dcdcdc;
  box-shadow: 0 1px 2px #aaa;
  width: 100%;
  margin-top: 4rem;
}

footer .row-footer .up-footer {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2rem;
  padding: 3rem 4.5% 0.7rem;
}

footer .row-footer .up-footer .left-footer {
  flex: 1 1 35%;
}

footer .row-footer .up-footer .left-footer img {
  width: 140px;
}

footer .row-footer .up-footer .left-footer p {
  font-size: 0.85rem;
  color: #666;
  line-height: 1.2rem;
  margin: 0.5rem 0;
}

footer .row-footer .up-footer .left-footer .social-media {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-top: 0.9rem;
}

footer .row-footer .up-footer .left-footer .social-media a {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  color: #666;
  background: rgba(102, 102, 102, 0.1);
}

footer .row-footer .up-footer .left-footer .social-media a:hover {
  background-color: rgba(0, 150, 136, 0.2);
}

footer .row-footer .up-footer .left-footer .social-media a:hover i {
  background: linear-gradient(
    to bottom right,
    var(--primary_teal),
    var(--secondary_green)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer .row-footer .up-footer .right-footer {
  flex: 1 1 65%;
  display: flex;
  justify-content: end;
  gap: 2rem;
}

footer .row-footer .up-footer .right-footer .col-foot {
  display: flex;
  flex-direction: column;
}

footer .row-footer .up-footer .right-footer .col-foot h4 {
  margin-bottom: 1rem;
  font-weight: 500;
}

footer .row-footer .up-footer .right-footer .col-foot a {
  font-size: 0.86rem;
  color: #666;
  margin-bottom: 0.8rem;
}

footer .row-footer .up-footer .right-footer .col-foot a:hover {
  background: linear-gradient(
    to bottom right,
    var(--primary_teal),
    var(--secondary_green)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer .row-footer .down-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 4.5%;
  background: #f7f7f7;
}

footer .row-footer .down-footer p {
  font-size: 0.85rem;
  display: flex;
  color: #666;
  align-items: center;
}

footer .row-footer .down-footer .menu-footer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

footer .row-footer .down-footer .menu-footer a {
  color: #666;
  font-size: 0.85rem;
}

footer .row-footer .down-footer .menu-footer a:hover {
  background: linear-gradient(
    to bottom right,
    var(--primary_teal),
    var(--secondary_green)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer .row-footer .down-footer #year_copyright {
  margin-right: 0.3rem;
}

/* responsive */
@media screen and (max-width: 1024px) {
  .navbar .nav-left .nav-menu {
    width: 100%;
    min-height: 100dvh;
    max-height: 100%;
    position: absolute;
    top: 0;
    right: -100%;
    background: rgba(0, 150, 136, 0.2);
    backdrop-filter: blur(5px);
    transition: 300ms ease-in-out;
  }

  .navbar .nav-left .nav-menu .content {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 300px;
    min-height: 100dvh;
    max-height: 100%;
    background: #fefefe;
    padding: 2rem 1.5rem;
  }

  .navbar .nav-left .nav-menu .content .head {
    width: 100%;
  }

  .navbar .nav-left .nav-menu .content .head img {
    width: 120px;
    display: inline-block;
  }

  .navbar .nav-left .nav-menu .content .head i {
    display: inline-block;
    position: absolute;
    top: 2rem;
    right: 1.5rem;
    font-size: 0.75em;
    border-radius: 4px;
    color: var(--primary_teal);
    padding: 0.3rem;
    border: 1.3px solid var(--primary_teal);
  }

  .navbar .nav-left .nav-menu .content .head i {
    background: rgba(0, 150, 136, 0.1);
  }

  .navbar .nav-left .nav-menu .content a {
    width: 100%;
  }

  .navbar .nav-left .nav-menu .content .btn-started {
    display: inline-block;
    text-align: center;
  }

  .navbar .nav-right #hamburger {
    display: inline-block;
    font-size: 0.87em;
    border-radius: 4px;
    padding: 0.65rem;
    color: var(--primary_teal);
    border: 1.5px solid var(--primary_teal);
  }

  .navbar .nav-right #hamburger:hover {
    background: rgba(0, 150, 136, 0.1);
  }

  .navbar .nav-right .btn-started {
    display: none;
  }

  /* submenu */
  .navbar .nav-left .nav-menu .content .nav-item {
    width: 100%;
    background: #fff;
  }

  .navbar .nav-left .nav-menu .content .nav-item .submenu {
    margin-top: 0.65rem;
    position: static;
    box-shadow: none;
    background: #fff;
    border-radius: 0;
    overflow: hidden;
  }

  .navbar .nav-left .nav-menu .content .nav-item .submenu a {
    padding: 0.6rem 0;
    font-size: 0.86rem;
    display: inline-flex;
    align-items: center;
    position: relative;
    gap: 0.3rem;
  }

  .navbar .nav-left .nav-menu .content .nav-item .submenu .line-submenu {
    position: absolute;
    top: 0;
    left: 3px;
    height: 100%;
    width: 1px;
    background: var(--color-gradient);
  }

  .navbar .nav-left .nav-menu .content .nav-item .submenu a i {
    font-size: 0.5rem;
    background: #fff;
    display: inline-block;
    z-index: 2;
    color: var(--primary_teal);
  }

  .navbar .nav-left .nav-menu .content .nav-item .toggle-submenu i {
    font-size: 0.61rem;
  }

  .navbar .nav-left .nav-menu .content .nav-item .submenu.show {
    display: flex;
  }

  .header-menu .row-header-menu {
    padding: 3rem 0;
  }

  .faq .row-faq {
    gap: 2.5rem;
  }

  .blogs .row-blogs {
    align-items: start;
    flex-direction: column;
  }

  .blogs .row-blogs .left-blogs {
    flex: 1 1 100%;
  }

  .blogs .row-blogs .right-blogs {
    flex: 1 1 100%;
  }

  .blogs .row-blogs .box-blog {
    display: flex;
    flex-direction: row;
  }

  .blogs .row-blogs .box-blog .image {
    flex: 1 1 45%;
  }

  .blogs .row-blogs .box-blog .image img {
    border-top-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .blogs .row-blogs .box-blog .d-blogs {
    flex: 1 1 55%;
  }

  .blogs .row-blogs .box-blog .d-blogs .author,
  .blogs .row-blogs .right-blogs .box-blog .d-blogs .author {
    margin-bottom: 0.4rem;
  }

  .blogs .row-blogs .box-blog .d-blogs p,
  .blogs .row-blogs .right-blogs .box-blog .d-blogs p {
    margin: 0.35rem 0 0.6rem;
  }

  .blogs .row-blogs .box-blog .d-blogs .author h4 {
    font-size: 0.68rem;
  }

  .blogs .row-blogs .box-blog .d-blogs a {
    font-size: 0.92rem;
    line-height: 1.2rem;
  }

  .blogs .row-blogs .box-blog .d-blogs p {
    font-size: 0.87rem;
    line-height: 1.13rem;
  }

  .blogs .row-blogs .box-blog .d-blogs .category span {
    font-size: 0.7rem;
  }

  .blogs .row-blogs .right-blogs .box-blog .d-blogs .author h4 {
    font-size: 0.68rem;
  }

  .blogs .row-blogs .right-blogs .box-blog .d-blogs a {
    font-size: 0.92rem;
    line-height: 1.2rem;
  }

  .blogs .row-blogs .right-blogs .box-blog .d-blogs p {
    font-size: 0.87rem;
    line-height: 1.13rem;
  }

  .blogs .row-blogs .right-blogs .box-blog .d-blogs .category span {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 912px) {
  .product .row-product {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .partner .row-partner .col-partner {
    flex: 1 1 calc((100% - 4rem) / 3);
    max-width: calc((100% - 4rem) / 3);
  }

  .about .row-about {
    flex-direction: column;
    gap: 2rem;
  }

  .about .row-about .left-about {
    flex: 1 1 100%;
  }

  .about .row-about .right-about {
    flex: 1 1 100%;
  }

  .about .row-about .right-about .qoute {
    justify-content: start;
    gap: 0.5rem;
    align-items: start;
  }

  /* about anyamnusa */
  .about-anyamnusa .row-about {
    flex-direction: column;
    gap: 2rem;
  }

  .about-anyamnusa .row-about .left-about {
    flex: 1 1 100%;
  }

  .about-anyamnusa .row-about .right-about {
    flex: 1 1 100%;
  }

  .about-anyamnusa .row-about .right-about .qoute {
    justify-content: start;
    gap: 0.5rem;
    align-items: start;
  }

  .product .header-title {
    flex-direction: column;
  }

  .product .header-title .count {
    margin-bottom: 1.7rem;
  }

  .product .header-title #search {
    width: 100%;
  }

  .product .categories .category {
    flex: 1 1 78%;
  }

  .product .categories .category .category-list {
    font-size: 0.76rem;
    padding: 0.43rem 0.65rem;
    border-radius: 4px;
  }

  .active-category {
    font-size: 0.76rem;
    padding: 0.43rem 0.65rem;
    border-radius: 4px;
  }

  .product .categories .paginate {
    flex: 1 1 22%;
    gap: 0.3rem;
  }

  .product .categories .paginate .left-paginate {
    width: 28.3px;
    height: 28.3px;
    border: 1.4px solid #000;
    font-size: 0.75rem;
  }

  .product .categories .paginate .right-paginate {
    width: 28.3px;
    height: 28.3px;
    border: 1.4px solid #000;
    font-size: 0.75rem;
  }

  .product .row-product {
    grid-template-columns: repeat(2, 1fr);
  }

  .excellence .row-excellence .left-excellence {
    flex: 1 1 30%;
  }

  .excellence .row-excellence .right-excellence {
    flex: 1 1 70%;
  }

  .testimonials .header {
    width: 80%;
  }

  .faq .row-faq {
    gap: 2rem;
  }

  .faq .row-faq .left-faq {
    flex: 1 1 60%;
  }

  .faq .row-faq .right-faq {
    flex: 1 1 40%;
  }
}

@media screen and (max-width: 576px) {
  .header-menu .row-header-menu {
    padding: 3rem 0;
  }

  .header-menu .row-header-menu .content p {
    text-align: justify;
    color: #222;
  }

  .header-menu .bars {
    height: 50px;
  }

  .header-menu .bars .box {
    width: 150px;
    padding: 1.2rem;
    max-width: 150px;
  }

  .header-menu .bars .box img {
    width: 100%;
  }

  .hero .content {
    width: 100%;
  }

  .btn-primary-outline-black {
    border: 1.7px solid #000;
  }

  .partner .row-partner .col-partner {
    flex: 1 1 calc((100% - 2rem) / 2);
    max-width: calc((100% - 2rem) / 2);
  }

  .about .row-about,
  .about-anyamnusa .row-about {
    gap: 1rem;
  }

  .product .header-title {
    align-items: start;
  }

  .product .header-title .count h2 {
    font-size: 1.35rem;
  }

  .product .categories {
    margin: 1.2rem 0 1.5rem;
  }

  .product .row-product {
    grid-template-columns: 1fr;
  }

  .product .row-product .col-product .d-img {
    height: 200px;
  }

  .excellence .row-excellence {
    flex-direction: column;
  }

  .excellence .row-excellence .left-excellence {
    flex: 1 1 100%;
  }

  .excellence .row-excellence .right-excellence {
    flex: 1 1 100%;
  }

  .excellence .row-excellence .right-excellence {
    grid-template-columns: 1fr;
  }

  .testimonials {
    mask-image: none;
  }

  .testimonials .header {
    width: 100%;
  }

  .testimonials .row-testimonials .col-testimonials {
    width: 300px;
  }

  .blogs .header {
    width: 100%;
  }

  .blogs .header p {
    text-align: justify;
  }

  .blogs .row-blogs .left-blogs {
    flex: 1 1 100%;
  }

  .blogs .row-blogs .right-blogs {
    flex: 1 1 100%;
  }

  .blogs .row-blogs .box-blog {
    display: flex;
    flex-direction: column;
  }

  .blogs .row-blogs .box-blog .image img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
  }

  .blogs .row-blogs .right-blogs .box-blog {
    display: flex;
    flex-direction: column;
  }

  .blogs .row-blogs .right-blogs .box-blog .image {
    flex: 1 1 100%;
  }

  .blogs .row-blogs .right-blogs .box-blog .image img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
  }

  .blogs .row-blogs .right-blogs .box-blog .d-blogs {
    flex: 1 1 100%;
  }

  .blogs .row-blogs .box-blog .d-blogs a {
    font-size: 0.93rem;
    line-height: 1.2rem;
  }

  .blogs .row-blogs .box-blog .d-blogs p {
    font-size: 0.85rem;
    line-height: 1.13rem;
  }

  .blogs .row-blogs .box-blog .d-blogs .category span {
    font-size: 0.7rem;
  }

  .blogs .row-blogs .right-blogs .box-blog .d-blogs a {
    font-size: 0.93rem;
    line-height: 1.2rem;
  }

  .blogs .row-blogs .right-blogs .box-blog .d-blogs p {
    font-size: 0.85rem;
    line-height: 1.13rem;
  }

  .blogs .row-blogs .right-blogs .box-blog .d-blogs .category span {
    font-size: 0.7rem;
  }

  .orders .row-orders {
    flex-direction: column;
  }

  .orders .row-orders .left-orders {
    flex: 1 1 100%;
  }

  .orders .row-orders .right-orders {
    flex: 1 1 100%;
  }

  .orders .row-orders {
    padding: 2rem 1.25rem;
  }

  .faq .row-faq {
    flex-direction: column-reverse;
  }

  .faq .row-faq .left-faq {
    flex: 1 1 100%;
  }

  .faq .row-faq .right-faq {
    flex: 1 1 100%;
  }

  footer .row-footer .up-footer {
    flex-direction: column;
    gap: 3.3rem;
  }

  footer .row-footer .up-footer .left-footer {
    flex: 1 1 100%;
  }

  footer .row-footer .up-footer .right-footer {
    flex: 1 1 100%;
    flex-direction: column;
  }

  footer .row-footer .down-footer {
    gap: 1rem;
    flex-direction: column-reverse;
    padding: 1.8rem 4.5%;
  }
}
